{
  "parser": "babel-eslint",
  "overrides": [
    {
      "files": [
        "**/*.spec.js"
      ],
      "env": {
        "jest": true
      }
    }
  ],
  "extends": ["vue", "standard", "plugin:vue/recommended"],
  "plugins": ["import", "vue"]
}